/* Contact Page Styling */
body{
    background-color: #edf5ed;
    margin: 0;
}

/* Header */
header{
    background-color: #3b6064;
    display: flex;
    
}

header h1{
    font-family: 'Megrim', cursive;
    color: #c9e4ca;
    font-weight: lighter;
    font-size: 1.75rem;
    margin-left: 30px;
    padding: 5px;

}

header h1 a{
    text-decoration: none;
    color:#c9e4ca;
    
    
}

.nav-items{

    padding-left: 25px;
    padding-right: 25px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-items a{
    text-decoration: none;
    color: #c9e4ca;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 1 rem;
}
/* Footer */
footer{
    background-color: #3b6064;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 5px;    
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media img{
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.contact-info{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    color: #c9e4ca;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size:xx-small
}
.contact-info p{
    margin: 5px;
}

.contact-info a{
    color:#c9e4ca;
    text-decoration: underline;
}

.contact-form{
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* form inputs */
input[type=text], select, textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #3b6064
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #3b6064
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color:#3b6064;
    color: #c9e4ca;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #364958;
  }

  label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3b6064;
  }
  /* Contact page media query */
@media screen and (min-width: 834px) {
    .contact-form{
        min-height: 60vh;
        width: 100%;
    }

}

    