body{
    background-color: #edf5ed;
    margin: 0;
}

header{
    background-color: #3b6064;
    display: flex;
    
}

header h1{
    font-family: 'Megrim', cursive;
    color: #c9e4ca;
    font-weight: lighter;
    font-size: 1.75rem;
    margin-left: 30px;
    padding: 5px;

}

header h1 a{
    text-decoration: none;
    color:#c9e4ca;
    
    
}

.nav-items{

    padding-left: 25px;
    padding-right: 25px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-items a{
    text-decoration: none;
    color: #c9e4ca;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 1 rem;
}

footer{
    background-color: #3b6064;
    display: flex;
    flex-direction: column;
    padding-top: 20px;;

}

.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.social-media img{
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.contact-info{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    color: #c9e4ca;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size:xx-small


}
.contact-info p{
    margin: 5px;
}

.contact-info a{
    color:#c9e4ca;
    text-decoration: underline;
}

a:visited{
    color:#c9e4ca;
}

/* Landing page body styling */

.landing-page-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight:lighter;
    font-style: normal;
    color: #364958;
        
}

.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page img{
    width: 75%;
    margin-top: 50px;
    padding: 5px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.welcome{
    font-family: 'Qwitcher Grypen', cursive;
    color: #364958;
    font-size: 35px;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    width: 90%;

}

.landing-page-blurb{

    justify-content: center;
    align-items: center;
    width: 90%;
}

.signature{
    font-family: 'Qwitcher Grypen', cursive;
    color: #364958;
    font-size: 35px;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 90%;
}
@media screen and (min-width: 750px) {
    .landing-page-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        margin-left: 100px;
        margin-right: 100px;

    }

}

     /*ABOUT PAGE */

.about-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-page img{

    width: 300px;
    padding: 10px;
    margin-top: 70px;
       
}
.CV a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: norma;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #364958;
    text-decoration: none;
}

.about-me-blurb{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: lighter;
    font-style: normal;
    color: #364958;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;

}

.about-me-blurb a{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;;
    font-weight: bolder;
    color: #364958
    
}

@media screen and (min-width: 750px) {
    .about-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        margin-left: 100px;
        margin-right: 100px;

    }

}


/* contact page styling */

.contact-form{
    margin: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

/* inputs */
input[type=text], select, textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #3b6064
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #3b6064
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color:#3b6064;
    color: #c9e4ca;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #364958;
  }

  label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3b6064;
  }


    /* Blog page styling */

    .blog-post{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 300px;
        background-color: #f6fbf6;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #364958;
        font-size: medium;
        margin: 50px;
        border: solid 1px #364958;
        box-sizing: border-box;
        
    }

    .blog-post a{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #364958;
    }

    .blog-post p{
        opacity: 50%;
        font-size: smaller;
    }

    .blog-post img{

        width: 200px;
        justify-content: center;
        margin-top: 20px;
    }

    /* individual blog post styling */

    .blog{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
        color: #364958;
    }

    @media screen and (min-width: 750px) {
        .blog-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        
    }
        .blog-post{
            width:400px;
            height: 400px;
            background-color:#f6fbf6;
            box-shadow: 2px 2px gray;
            
        }

        .blog-post img{
            width: 300px;
        }
}